
.search {
	@apply bg-gray-800 border border-gray-700  flex items-center transition-colors;
	border-radius: 8px;
	height: 50px;
	width: 270px;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	overflow-x: hidden;

	.icon {
		height: 24px;
		width: 48px;
		@apply fill-gray-600  transition-colors;

	}
	div {
		display: flex;
		align-items: center;
	}

	&:focus-within {
		@apply border-gray-600;
		> svg {
			@apply fill-gray-500;
		}
	}
}
.input {
	@apply w-5/6 text-white placeholder:text-gray-600  bg-transparent outline-none border-0;

}

