

.common {
	@apply relative border-b border-gray-600 transition-colors focus-within:border-purple-900;

	> label {
		@apply block;

		> span {
			@apply text-xs uppercase text-gray-600 block;
		}
	}
}

.field {
	z-index: 99999999999999999999;
	@apply w-3/12 text-left mb-8;
	.label {
		margin-bottom: -30px;
	}
	input {
		@apply border-none focus:ring-0 bg-transparent text-gray-500 w-full m-0 px-0;
	}
}

.uploadField {
	//@apply relative;
	p {
		align-self: flex-end;
	}
	.uploadFlex {
		@apply flex;
		gap: 25px;
		> .uploadImageContainer {
			@apply shrink-0 relative w-24 h-24;

			img {
				@apply  rounded-md;
			}


		}
		.inputContainer {
			position: relative;
			background: #e0e0e0;
			width: 80%;
			color: #363636;
			z-index: 2;
			height: 50px;
			border-radius: 5px;
			align-self: flex-end;
			p {
				top: 10px;
				left: 10px;
				position: absolute;
			}

			input {
				width: 100px;
				height: 100px;
				position: absolute;
				opacity: 1;
			}
		}
		> label {
			@apply block mr-6;

			.error {
				@apply relative -bottom-3;
			}

			> span {
				@apply text-xs uppercase text-gray-600 block mb-4;
			}

			&:hover > input {
				@apply opacity-100;
			}
		}
	}
}

.error {
	@apply absolute -bottom-6 left-0 text-sm w-full ;
}
